body {
    position: relative; /* Needed for absolute positioning of the logo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #B6D0E2; /* Powder Blue */
}

#logo {
    position: absolute;
    top: 10px;     /* Adjust as needed for spacing from the top */
    left: 10px;    /* Adjust as needed for spacing from the left */
    width: 75px;   /* Optional: Adjust according to desired size */
    height: auto;  /* Maintain aspect ratio */
}

.container {
    text-align: center;
    background-color: #fff; /* White background for the text container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 600px;  /* Fixed width for consistency */
    height: 400px; /* Fixed height for consistency */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space among children */
    overflow: auto; /* Makes content scrollable if it overflows */
}

.text-box {
    font-size: 24px;
    margin-bottom: 40px;
}

.category-box {
    font-weight: bold;
    margin-bottom: 10px;
}

.author-box {
    margin-top: 20px;
    font-size: 20px;
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    transition: background-color 0.3s ease;
    width: 140px;            /* Fixed width for uniformity */
    text-align: center;      /* Ensure text and emoji are centered */
    display: inline-block;   /* Treat the button as an inline-block element */
}

button:hover {
    background-color: #ddd;
}

.score {
    margin-top: 20px;
    font-size: 20px;
}

.button-correct {
    background-color: #4CAF50; /* Green */
}

.button-incorrect {
    background-color: #F44336; /* Red */
}
